/**
 * entry file for Tailwind CSS
 * and other style files
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$black: #000;
.shopify-section {
	outline: 1px solid $black;

	.another-section {
		background: #0f0;
	}
}
